.extra-catalog {
  display: grid;

  @media (min-width: 1240px) {
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.extra-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: @color-black;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1240px) {
    grid-column: 1/-1;
  }
}

.extra-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
