.main-footer {
  background-color: @color-basic-grey;
}

.main-footer__wrapper {
  display: grid;
  align-items: center;
  grid-template-rows: 95px 63px 78px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 147px;
  }
}
