.order-all {
  min-height: 290px;
  background-color: fade(@color-basic-green, 85%);
}

.order-all__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  color: @color-basic-white;
}
