.program {
  background-color: @color-basic-grey;
  padding: 20px;
}

.program__title {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
}

.program__description {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-special_dark-grey;
}

.program__link {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: @color-black;
}
