.promo {
  background-color: fade(@color-basic-green, 85%);
  color: @color-basic-white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.promo__title {
  font-size: 36px;
}

.promo__slogan {
  font-size: 14px;
}

.promo__link {
}
