@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/oswaldregular.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/oswaldmedium.woff2') format('woff2');
}
.page__body {
  margin: 0;
}
.button {
  font-family: 'Oswald';
  display: flex;
  height: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #68B738;
  color: #fff;
  text-decoration: none;
  border: none;
}
.button--medium {
  font-size: 16px;
  line-height: 20px;
}
.main-header {
  background-color: var(--color-basic-white);
}
.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.promo {
  background-color: rgba(104, 183, 56, 0.85);
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.promo__title {
  font-size: 36px;
}
.promo__slogan {
  font-size: 14px;
}
.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}
.program {
  background-color: #F2F2F2;
  padding: 20px;
}
.program__title {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
}
.program__description {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444;
}
.program__link {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}
.how-it-works__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.process-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.process-list__item {
  display: flex;
  align-items: center;
}
.process-list__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  flex-shrink: 0;
}
.process-list__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
}
.example {
  background-color: #EAEAEA;
}
.example__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000;
}
.example__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444;
}
.params__item {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.params__item--outline .params__name {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444;
}
.params__item--outline .params__value {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.progress__before,
.progress__after {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.contacts--dark {
  background-color: #F2F2F2;
}
.contacts__header {
  display: flex;
}
.contacts__message {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__street,
.contacts__city {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.contacts__map-image {
  width: 100%;
}
.main-footer {
  background-color: #F2F2F2;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}
.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
  justify-content: center;
}
.social-list__link {
  display: flex;
  width: 28px;
  height: 22px;
  background-position: center;
  background-color: #68B738;
}
.social-list__link--vk {
  background-image: url('../../img/');
}
.developer {
  display: flex;
  justify-content: space-between;
}
.developer__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.survey__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  text-transform: uppercase;
  color: #000;
}
.survey__program-selection {
  margin: 0;
  padding: 0;
  border: 1px solid #D9D9D9;
}
.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.fieldset__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */
  color: #000;
}
.field {
  display: flex;
  align-items: center;
}
.field__label {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  text-transform: uppercase;
  color: #444;
}
.field__input {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 15px;
  /* special_dark-grey */
  color: #444;
  height: 45px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
}
.field__textarea {
  padding: 10px 15px;
  border: 1px solid #E7E7E7;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */
  text-transform: uppercase;
  /* special_dark-grey */
  color: #444;
}
.product__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  text-transform: uppercase;
  /* special_dark-grey-2 */
  color: #222;
}
.description {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  /* special_dark-grey */
  color: #444;
}
.show-more__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-transform: uppercase;
  color: #111;
}
.show-more__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  /* special_dark-grey */
  color: #444444;
}
.show-more__show-all {
  height: 40px;
  border: none;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  /* special_dark-grey */
  color: #444;
  background-color: #F2F2F2;
}
.extra-catalog__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  color: #000;
}
.extra-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.extra-product {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  /* special_dark-grey */
  color: #444;
}
.extra-product__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-transform: uppercase;
  /* special_dark-grey-2 */
  color: #222;
}
.order-all {
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
}
.order-all__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */
